[Unit]
Description=Cowrie SSH Honeypot
After=network.target

[Service]
User=cowrie
Group=cowrie
WorkingDirectory=/home/cowrie/my-honeypot
ExecStart=/home/cowrie/my-honeypot/cowrie-env/bin/cowrie start
ExecStop=/home/cowrie/my-honeypot/cowrie-env/bin/cowrie stop
Type=forking
PIDFile=/home/cowrie/my-honeypot/var/run/cowrie.pid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target